services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    container_name: jellyfin
    ports:
      - "${JELLYFIN_PORT}:${JELLYFIN_PORT}"
      - "${JELLYFIN_HTTPS_PORT}:${JELLYFIN_HTTPS_PORT}"
    volumes:
      - ./config/jellyfin:/config
      - ./media:/media
      - /tmp:/transcode
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    ports:
      - "${SONARR_PORT}:${SONARR_PORT}"
    volumes:
      - ./config/sonarr:/config
      - ./media/tv:/tv
      - ./downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network
    depends_on:
      - prowlarr
      - qbittorrent

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    ports:
      - "${PROWLARR_PORT}:${PROWLARR_PORT}"
    volumes:
      - ./config/prowlarr:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    container_name: qbittorrent
    ports:
      - "${QBITTORRENT_PORT}:${QBITTORRENT_PORT}"
      - "${QBITTORRENT_PORT_RANGE}:${QBITTORRENT_PORT_RANGE}"
      - "${QBITTORRENT_PORT_RANGE}:${QBITTORRENT_PORT_RANGE}/udp"
    volumes:
      - ./config/qbittorrent:/config
      - ./downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - WEBUI_PORT=8080
    restart: unless-stopped
    networks:
      - jellyfin-network

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.868
    container_name: jackett
    ports:
      - "${JACKETT_PORT}:${JACKETT_PORT}"
    volumes:
      - ./config/jackett:/config
      - ./downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    container_name: flaresolverr
    ports:
      - "${FLARESOLVERR_PORT}:${FLARESOLVERR_PORT}"
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    ports:
      - "${RADARR_PORT}:${RADARR_PORT}"
    volumes:
      - ./config/radarr:/config
      - ./media/movies:/movies
      - ./downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network
    depends_on:
      - prowlarr
      - qbittorrent

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.3
    container_name: bazarr
    ports:
      - "${BAZARR_PORT}:${BAZARR_PORT}"
    volumes:
      - ./config/bazarr:/config
      - ./media/movies:/movies
      - ./media/tv:/tv
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - jellyfin-network

networks:
  jellyfin-network:
    driver: bridge
